<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />

  <connectionStrings>


    <add name="ist420grp5Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MESSHALL\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ist420grp5Entities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MESSHALL\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />




  </connectionStrings> 

</packages>
